services:
  server:
    image: ghcr.io/dgtlmoon/changedetection.io:latest
    volumes:
      - ./datastore:/datastore
    environment:
      - PUID=1000
      - PGID=1000
      - BASE_URL=https://changedetection.egidiocaprino.com
      - USE_X_SETTINGS=1
      - HIDE_REFERER=false
      - FETCH_WORKERS=2
    restart: unless-stopped
    networks:
      - web

networks:
  web:
    external: true
