https://jellyfin.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://jellyfin-server-1:8096
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://vaultwarden.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://vaultwarden-server-1
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://kitchenowl.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://kitchenowl-web-1
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://transmission.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://transmission-server-1:9091
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://changedetection.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://changedetection-server-1:5000
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://paperless.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://paperless-server-1:8000
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://portainer.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://portainer-server-1:9000
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://photoprism.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://photoprism-server-1:2342
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://navidrome.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://navidrome-server-1:4533
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://nextcloud.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://nextcloud-aio-apache:11000
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://dns.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://dns-server-1:5380
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://dns-query.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://dns-server-1
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}

https://egidiocaprino.com, https://www.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy http://egidiocaprino-com-website-1:3000
  tls /etc/letsencrypt/live/egidiocaprino.com/fullchain.pem /etc/letsencrypt/live/egidiocaprino.com/privkey.pem
}
