apiVersion: v1
kind: Secret
metadata:
  namespace: vaultwarden
  name: secret
data:
  smtp-email: fill-me
  smtp-password: fill-me
---
apiVersion: v1
kind: Secret
metadata:
  namespace: vaultwarden
  name: vaultwarden-certificate
data:
  tls.crt: fill-me
  tls.key: fill-me
type: kubernetes.io/tls
