apiVersion: v1
kind: Secret
metadata:
  namespace: invidious
  name: secret
data:
  postgres-password: fill-me
---
apiVersion: v1
kind: Secret
metadata:
  namespace: invidious
  name: invidious-certificate
data:
  tls.crt: fill-me
  tls.key: fill-me
type: kubernetes.io/tls
