services:
  redis:
    image: redis:latest
    restart: unless-stopped
    networks:
      - paperless

  server:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - redis
    volumes:
      - ./data:/usr/src/paperless/data
      - ./media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://paperless-redis-1:6379
      SERMAP_UID: 1000
      USERMAP_GID: 1000
      PAPERLESS_OCR_LANGUAGE: eng+nld+ita
      PAPERLESS_OCR_LANGUAGES: eng nld ita
      PAPERLESS_URL: https://paperless.egidiocaprino.com
      PAPERLESS_SECRET_KEY: fill-me
      PAPERLESS_TIME_ZONE: Europe/Amsterdam
      PAPERLESS_OCR_USER_ARGS: '{ "invalidate_digital_signatures": true }'
    networks:
      - web
      - paperless

networks:
  web:
    external: true
  paperless:
