http://nextcloud.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy localhost:{env.NEXTCLOUD_HTTP_PORT}
}

http://vaultwarden.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy localhost:{env.VAULTWARDEN_HTTP_PORT}
}

http://kitchenowl.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000         ;
  reverse_proxy localhost:{env.KITCHENOWL_HTTP_PORT}
}

http://transmission.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy localhost:{env.TRANSMISSION_HTTP_PORT}
}

http://jellyfin.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy localhost:{env.JELLYFIN_HTTP_PORT}
}

http://changedetection.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy localhost:{env.CHANGE_DETECTION_HTTP_PORT}
}

http://paperless.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy localhost:{env.PAPERLESS_HTTP_PORT}
}

http://portainer.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy localhost:{env.PORTAINER_HTTP_PORT}
}

http://photoprism.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy localhost:{env.PHOTOPRISM_HTTP_PORT}
}

http://navidrome.egidiocaprino.com {
  header Strict-Transport-Security max-age=31536000;
  reverse_proxy localhost:{env.NAVIDROME_HTTP_PORT}
}
