apiVersion: v1
kind: Secret
metadata:
  name: secret
  namespace: nextcloud
data:
  nextcloud-admin-password: fill-me
  postgres-password: fill-me
---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-certificate
  namespace: nextcloud
data:
  tls.crt: fill-me
  tls.key: fill-me
type: kubernetes.io/tls
