IMAPAccount account
Host $IMAP_HOST
Port $IMAP_PORT
UserCmd "cat /run/secrets/imap_user"
PassCmd "cat /run/secrets/imap_password"
SSLType IMAPS

IMAPStore remote
Account account

MaildirStore local
Path ~/Maildir/
Inbox ~/Maildir/INBOX/

Channel sync
Master :remote:
Slave :local:
Patterns *
Create Slave
Expunge None
Sync PullNew
