[Unit]
Description=Remount unmounted volumes every 5 minutes

[Timer]
OnCalendar=*-*-* *:0/5:0
Persistent=true
Unit=remount.service

[Install]
WantedBy=timers.target
