services:
  server:
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    volumes:
      - ./config:/config
      - ./cache:/cache
      - ./downloads:/downloads:ro
    user: 1000:1000
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.egidiocaprino.com
    networks:
      - web
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    group_add:
      - 105
    deploy:
      resources:
        limits:
          cpus: '2'

networks:
  web:
    external: true
